body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.card{
    background-color: coral;
    text-align: center;
    width: 300px;
    margin: auto; /* Aqui centra automaticamente el componte del body*/
}

h1{
    padding-top: 14px;
    font-size: 22px;
    margin: 0;
}

h2{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}


p{
    font-size: 10px;
    padding: 20px;
    background: lightcoral;
    text-align: justify;
}

