/* Existen medidas como cm, pulgadas(in) etc son valores que se usan de manera que el tamano de las cosas se usen en elementos que se van a a imprimir  */

/* Mietras que los demas como px se estableceran de acuerdo a las medidas del dispositivo que cargue la pagina web  */


/* el % es respecto a contenedor que lo contiene */
body{
    margin: 0;
}

.card{
    background: #e4e4e4;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    width: 80vw;
    height: 80vh;
    margin: auto;
    box-sizing: border-box;

}

h1{
    margin: 0;
    font-size: 20px;
}

span{
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p{
    color: #555;
    width: 100%;
}



    /* em -> toma el fonsize del elemento y los musltiplica por un numero n */
    /* rem -> este solo busca al elemento padre del elemento si este tiene un font size */
    /* vh -> viewport es el total de la pantalla en el heigth*/
    /* vw -> viewport es el total de la pantalla en el width*/
