h1{
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/* Las pseudoclases nos permiten seleccionar un estado de un elemento y poder modificar este elemento siempre que este en ese estado */


/* 
    hover: Cuando pasamos el mouse en h1 se cambia de color
*/
h1:hover{
    color: #584;
}


/* 
    active: Se cambia el estilo del elemento cuando se le da click derecho o izquierdo
*/
h1:active{
    color: #7a9;
    background: #0003;
}


/* SELECCIONAR EL PRIMER ELEMENTO LI */

li:first-child{
    color: #f00;
}


/* SELECCIONAR EL SEGUNDO ELEMENTO li */
li:nth-child(2){
    color: #f0f;
}


/* SELECCIONAR EL TERCER ELEMENTO li */
li:nth-child(3){
    color: #ef0;
}

/* SELECCIONAR ULTIMO ELEMENTO LI */

li:last-child{
    color: #00f;
}


/* SELECCIONAR TODOS LOS ELEMNTOS DE OTRA FORMA */

li:nth-child(1n){
    color: #48e;
}

/* ESTE SELCCIONA EL ELEMENTO (UNO SI , UNO NO) */

li:nth-child(2n){
    color: #584;
}

/* La propiedad n con un numero le dice al css que va modificar el elemento n y saltarse otros elementos n para poder aplicar la propiedad al siguiente elemento en la misma posicion n */

/* Es decir si es 3n ira de 3 en 3 si es 2n ira de dos en dos, aplicando los estilos de css */

/* 
Este elemento le dice que solo se le daran los estilos a los elementos hijos que sean iguales por ejemplo los li de una lista si se pone un elemento distinto este no toma los estilos
li:nth-of-type(2){
    color: #f0f;
} */


/* EXCLUSION */

.lista li:not(.excluir){
    color: red;
}


.div{
    border: 3px solid #0006;
}

/* SELECCIONA SI EL ELEMENTO ES VACIO */
.div:empty {
    border: none;
}


/* SELECCION DE UN ELEMENTO POR EL TIPO */
input[type="checkbox"]{
    margin: 50px;
}

input[type="checkbox"]:checked{
    margin: 0;
}


/* MODIFICAR EL COLOR DE UN ENLACES POR MEDIO DE SU INTERACCIOn*/

a{
    display: block;
    text-decoration: none;
    color: #000e;
}

/* ENLACES NO VISITADOS */

a:link{
    color: #48e;
}

/* ENLACE VISITADO */

a:visited{
    color: #584;
}